body {
  margin: 0px;
  font-family: "Space Mono", monospace;
}

address {
  font-style: normal;
}

a {
  color: #000000;
  text-decoration: none;
}

code {
  background-color: #e5e7eb;
  border-radius: 4px;
  padding: 0px 4px;
  font-family: inherit;
}

.component-card {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .component-card {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 8px;
    box-sizing: border-box;
  }
}

.component-code {
  background-color: #e5e7eb;
  border-radius: 4px;
  padding: 0px 4px;
  font-family: inherit;
  width: fit-content;
}

.component-icon-s {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 480px) {
  .component-icon-s {
    font-size: 10px;
    width: 10px;
    height: 10px;
  }
}

.component-icon-m {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 480px) {
  .component-icon-m {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

.component-main-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 100;
  min-width: 540px;
  text-align: justify;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .component-main-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 100;
    min-width: 300px;
    text-align: justify;
    padding: 10px;
  }
}

.component-experience-experience {
  min-width: 540px;
  flex: 100;
}

@media screen and (max-width: 480px) {
  .component-experience-experience {
    min-width: 300px;
    flex: 100;
  }
}

.component-experience-skill {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 260px;
}

.component-tag {
  display: flex;
  border-radius: 8px;
  border: 2px solid #000000;
  padding: 2px 8px;
  color: #000000;
  align-content: center;
  justify-content: "center";
  width: "fit-content";
  font-size: 12px;
  line-height: 157%;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .component-tag {
    display: flex;
    border-radius: 8px;
    border: 2px solid #000000;
    padding: 1px 4px;
    color: #000000;
    align-content: center;
    justify-content: "center";
    width: "fit-content";
    font-size: 10px;
    font-weight: 700;
  }
}

.component-text-s {
  font-size: 14px;
  line-height: 157%;
}

@media screen and (max-width: 480px) {
  .component-text-s {
    font-size: 10px;
    line-height: 157%;
  }
}

.component-text-m {
  font-size: 16px;
  line-height: 162%;
}

@media screen and (max-width: 480px) {
  .component-text-m {
    font-size: 12px;
    line-height: 157%;
  }
}

.component-text-l {
  font-size: 20px;
  line-height: 167%;
}

@media screen and (max-width: 480px) {
  .component-text-l {
    font-size: 14px;
    line-height: 157%;
  }
}

.component-text-xl {
  font-size: 32px;
  line-height: 167%;
}

@media screen and (max-width: 480px) {
  .component-text-xl {
    font-size: 20px;
    line-height: 157%;
  }
}

.component-text-xxl {
  font-size: 40px;
  line-height: 167%;
}

@media screen and (max-width: 480px) {
  .component-text-xxl {
    font-size: 24px;
    line-height: 157%;
  }
}
